<table>
    <thead>
        <th>
            Serial No.
        </th>
        <th>
            Pizza Name
        </th>
        <th>
            Price
        </th>
        <th>
        </th>
    </thead>
    <tbody *ngFor="let c of cartItems; let i = index">
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.price }}</td>
            <td> <button  (click)="deleteItem(c.id)" class="btn btn-danger">Delete</button> </td>
        </tr>
    </tbody>
</table>